.mod_cpassignment_center {
	text-align: center;
}
.mod_cpassignment_center > div, .mod_cpassignment_center > table /* insert any other block-level elements here */ {
	margin-left: auto;
	margin-right: auto;
}


.mod_cpassignment_listbuttons input[type="submit"]{
    width: 400px;
}


.mod_cpassignment_actionbuttons {
	display: flex;
	float: right;
}

.mod_cpassignment_recording_cont {
	display: block;
	margin: auto;
	text-align: center;
	width: 100%;
}
/*
.mod_cpassignment_passage_cont {
	display: none;
	line-height: 2em;
	font-size: 1.5em;
    border-style: double;
    padding: 3px;
    border-color: gold;
	margin-top: 15px;
}

.mod_cpassignment_passage_finished {
	background-color: #CCCCCC;
	padding: 2px;
}
*/
.mod_cpassignment_feedback_cont {
	display: none;
}
.mod_cpassignment_finished_cont {
    display: none;
}
.mod_cpassignment_error_cont {
	display: none;
}
.mod_cpassignment_error_cont h3{
	/* color: red; */
}
.mod_cpassignment_grading_player_cont {
	/*color: blue;*/
}
.mod_cpassignment_hidden_video_player{
    display: block;
    width: 100%;
}
.mod_cpassignment_hidden_player {
	 display: none;
}
.mod_cpassignment_hidden_player_button {
  color: white;
  border-color: cadetblue;
  background-color: cadetblue;
  border-style: solid;
  border: 1px;
  padding: 3px;
  text-align: center;
}
.mod_cpassignment_hidden_player_button_active {
	 color: white;
	 border-color: tomato;
	 background-color: tomato;
}
.mod_cpassignment_hidden_player_button_paused {
	color: white;
}
.mod_cpassignment_hidden_player_button_playing{
	color: white;
}
.mod_cpassignment_grading_error_img {
	color: blue;
}

.mod_cpassignment_attempt_status_cont {
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	text-align: center;
	margin-top: 30px;
}
