.mod_cpassignment_center {
	text-align: center;
}
.mod_cpassignment_center > div, .mod_cpassignment_center > table /* insert any other block-level elements here */ {
	margin-left: auto;
	margin-right: auto;
}


.mod_cpassignment_listbuttons input[type="submit"]{
    width: 400px;
}


.mod_cpassignment_actionbuttons {
	display: flex;
	float: right;
}

.mod_cpassignment_recording_cont {
	display: block;
	margin: auto;
	text-align: center;
	width: 100%;
}

.mod_cpassignment_feedback_cont {
	display: none;
}
.mod_cpassignment_finished_cont {
    display: none;
}
.mod_cpassignment_error_cont {
	display: none;
}
.mod_cpassignment_error_cont h3{
	/* color: red; */
}
.mod_cpassignment_grading_player_cont {
	/*color: blue;*/
}
.mod_cpassignment_hidden_video_player{
    display: block;
    width: 100%;
}
.mod_cpassignment_hidden_player {
	 display: none;
}
.mod_cpassignment_hidden_player_button {
  color: white;
  border-color: cadetblue;
  background-color: cadetblue;
  border-style: solid;
  border: 1px;
  padding: 3px;
  text-align: center;
}
.mod_cpassignment_hidden_player_button_active {
	 color: white;
	 border-color: tomato;
	 background-color: tomato;
}
.mod_cpassignment_hidden_player_button_paused {
	color: white;
}
.mod_cpassignment_hidden_player_button_playing{
	color: white;
}
.mod_cpassignment_grading_error_img {
	color: blue;
}

.mod_cpassignment_attempt_status_cont {
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	text-align: center;
	margin-top: 30px;
}
.mod_cpassignment_myattempts_cont{
	display: flex;
}
.mod_cpassignment_myattemptstable{
	width: 50%;
}
.mod_cpassignment_oneattempt{
	width: 50%;
}

tr.mod_cpassignment_attemptrow.selected_attempt {
	font-weight: bold;
	border-right: 1px solid azure;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	background-color: azure;
}
tr.mod_cpassignment_attemptrow {
	border-right: 1px solid black;
	border-left: 1px solid black;
}
.mod_cpassignment_oneattempt {
	width: 50%;
	border-right: 1px solid black;
	background-color: azure;
	text-align: center;
}
.mod_cpassignment_myattempts_cont {
	display: flex;
	max-width: 800px;
	border: 1px solid black;
}

.mod_cpassignment_oneattempt_selectbutton_cont {
	margin-top: 15px;
}
.mod_cpassignment_oneattempt_audio {
	margin-top: 60px;
}
.mod_cpassignment_oneattempt_video {
	min-width: 400px;
	min-height: 300px;
}

.mod_cpassignment_allcenter,
.mod_cpassignment_listaudiorecstartcontainer {
	width: 500px;
	margin: auto;
	text-align: center;
}
.mod_cpassignment_sharebox_copy_button {
	float: right;
}
.mod_cpassignment_download_copy_button {
	float: right;
}
.mod_cpassignment_listshareboxstartcontainer {
	width: 150px;
	float: right;
}
.cp_assignment_onereceipt {
	text-align: center;
	margin: auto;
	max-width: 350px;
	margin-top: 25px;
	border: darkgray 1px solid;
	border-radius: 5px;
	background-color: white;
	padding: 8px;
}

.therecorderid_mod_cpassignment_listaudiorec {
	text-align: center;
	background-image: url([[pix:mod_cpassignment|spinner]]);
	background-repeat: no-repeat;
	background-position: center;
}

.mod_cpassignment_downloaddialog_button_container {
	text-align: center;
}

#mod_cpassignment_sharebox,
#mod_cpassignment_download_link {
	width: 100%;
	margin: 5px;
    max-width: 600px;
}

.mod_cpassignment_noitems_cont {
	text-align: center;
	margin-top: 10px;
}

.mod_cpassignment_recordingsexceeded_cont {
	max-width: 500px;
	border: gray 1px solid;
	margin: auto;
	text-align: center;
	padding: 5px;
}