<div id="mod_cpassignment_download">
    <div id="mod_cpassignment_download_name"></div>
    <a id="mod_cpassignment_download_copy_button" class="btn btn-primary mod_cpassignment_download_copy_button" title="{{#str}}copydownloadlink, mod_cpassignment{{/str}}"><i class="fa fa-clone" aria-hidden="true"></i></a><br>
    <textarea  id="mod_cpassignment_download_link" class='downloadlink' readonly="readonly" cols="80" rows="2"></textarea></br>
    <div class="mod_cpassignment_downloaddialog_button_container"> <a id="mod_cpassignment_download_button" class="btn btn-success" download>{{#str}}downloaditem, mod_cpassignment{{/str}}</a></div>
</div>
