<div id="cp_assignment_download">
    <div id="cp_assignment_download_name"></div>
    <a id="cp_assignment_download_button" class="btn btn-success pf-popuprecorder-downloadbutton" download>{{#str}}downloaditem, mod_cpassignment{{/str}}</a><br>
    <textarea  id="cp_assignment_download_link" class='downloadfilelink' cols="80" rows="4"></textarea></br>
</div>
