<form>
    <div class="form-group">
<label for="itemform_itemid">{{#str}}itemid, mod_cpassignment{{/str}}</label>
<input type="text" id="itemform_itemid"  class="form-control itemform_itemid" placeholder="{{#str}}enteritemid, mod_cpassignment{{/str}}">
    </div>
<div class="form-group">
    <label for="itemform_itemname">{{#str}}itemname, mod_cpassignment{{/str}}</label>
        <input type="text" id="itemform_itemname"  class="form-control itemform_itemname" placeholder="{{#str}}enteritemname, mod_cpassignment{{/str}}">
</div>
<input type="hidden" class="itemform_itemfilename" value="{{itemfilename}}">
<input type="hidden" class="itemform_itemsubid" value="{{itemsubid}}">
</form>