
<div id="mod_cpassignment_noitems_cont" class="mod_cpassignment_noitems_cont" style="display: {{display}};">
    <div class="center"><h4>{{#str}}noitemsheader, mod_cpassignment{{/str}}</h4></div>
    <div class="center">{{#str}}noitemsinfo, mod_cpassignment{{/str}}</div>
</div>
