<div class="cp_assignment_onereceipt">
    <div class="cp_assignment_onereceiptheader"><strong>{{#str}}onereceiptheader, mod_cpassignment{{/str}}</strong></div>
    <!-- span class="cp_assignment_onereceipt_id">{{itemid}}</span -->
    <!-- span class="cp_assignment_onereceipt_name">{{itemname}}</span -->
    <span class="cp_assignment_onereceipt_time"><i>{{itemdate}}</i></span>
    <span class="cp_assignment_onereceipt_audio"><audio src="{{filename}}" crossorigin="anonymous" class="nomediaplugin nopoodll" controls></audio></span>
</div>
