
<div id="mod_cpassignment_recordingsexceeded_cont" class="mod_cpassignment_recordingsexceeded_cont" style="display: {{display}};">
    <div class="center"><h4>{{#str}}recordingsexceededheader, mod_cpassignment{{/str}}</h4></div>
    <div class="center">{{#str}}recordingsexceededinfo, mod_cpassignment, {{maxitems}}{{/str}}</div>
</div>
