<div id="cp_assignment_sharebox_container">
    <div id="cp_assignment_sharebox_name">{{#str}}copysharelinkinstructions, mod_cpassignment{{/str}}</div>
    <a id="mod_cpassignment_sharebox_copy_button" class="btn btn-primary mod_cpassignment_sharebox_copy_button" title="{{#str}}copysharelink, mod_cpassignment{{/str}}"><i class="fa fa-clone" aria-hidden="true"></i></a><br>
    <textarea  id="mod_cpassignment_sharebox" class='sharebox' readonly="readonly" cols="80" rows="2">{{publiclink}}</textarea></br>
    <a id="mod_cpassignment_sharebox_resetkey_button" class="shareboxresetkeybutton">{{#str}}resetkeylink, mod_cpassignment{{/str}}</a><br>
</div>
